@import "tailwindcss";

:host {
  display: block;
}

:host,
:host *,
:host *::before,
:host *::after {
  box-sizing: border-box;
}

.rtw-widget {
  min-width: 320px;
  font-family: "Instrument Sans", "Avenir Next", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
